<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kerktheclonetrooper - About</title>
    <link rel="shortcut icon" href="./img/logo.jpg">
    <link rel="stylesheet" href="./css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

</head>

<body>
    <div class="topNav">
        <img src="img/banner.png" alt="banner" id="banner">
        <div class="buttons">
            <a href="/" id="home">Home</a>
            <a href="/about" id="about">About</a>
            <a href="/store" id="store">Store</a>
        </div>

    <div class="about">
        <h1 id="title">Hello Kerkanauts!</h1>

        <p id="info">Thank you for visiting my webpage. Ever wanted to impress your friends by wearing merch of a highly decorated,
        decked out clonetrooper? Well you've come to the right place! Thank you for all your support, our mission 
        is to raise money that will eventually start my YouTube career. So I'll try to keep you posted. So if you have any 
        requests or business inquiries feel free to contact me at <a href="mailto:kerktheclonetrooper@gmail.com" id="e-mail">kerktheclonetrooper@gmail.com</a>
        <br><br> Thank you so much again!</p>
    </div>

</body>

</html>