<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kerktheclonetrooper - Home</title>
    <link rel="shortcut icon" href="./img/logo.jpg">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="topNav">
        <img src="img/banner.png" alt="banner" id="banner">
        <a href="/" id="home">Home</a>
        <a href="/about" id="about">About</a>
        <a href="/store" id="store">Store</a>
    </div>

</body>

</html>