<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<body>
    <h1 id="title">Enter the password to access the admin page</h1>
    <input type="password" id="login" autofocus>
    <script>
        const login = document.getElementById("login")

        login.addEventListener("keyup", (e) => {
            if (e.code === "Enter") {
                window.location.replace(window.location.href + "?password=" + login.value)
            }
        })
    </script>
</body>
</html>