body{
    background-image: url('./../img/background.png');
}

#title {
    color: #D71111;
    font-family: "Audiowide";
    text-align: center;
}

#info {
    color: white;
    line-height: 40px;
    font-family: "Audiowide";
    text-align: center;    
}


#e-mail{
    color: #FFBE00;
}

#e-mail:hover{
    color:#FFDF00 ;
}


#banner{
    position: relative;
    height: 350px;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -150px;
}

#home{
    position: relative;
    margin: 20px;
}

#about{
    position: relative;
   margin: 20px;
}

#store{
    position: relative;
    margin: 20px;
}

a{
    color: black;
    text-decoration: none;
}

.topNav{
    text-align: center;
    font-size: 23px;
}

.buttons {
    position: relative;
    top: -220px;
    border-width: 1px;
    border-color: black;
    font-family: 'Audiowide';
    font-size: 10px;
}

