<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Products:</h1>
    <input type="button" value="Add product" id="new">
    <input type="button" value="Generate 10 codes" id="codes">
    <%- sites %>
    <li>
        <%- promoCodes %>
    </li>

    <script src="./../js/main.js"></script>
    <script>
        const newProduct = document.getElementById("new")
        const newCodes10 = document.getElementById("codes")
        let code = getUrlParam('code')

        newProduct.addEventListener('click', (e) => {
            window.location.replace(`/addProduct?code=${code}`)
        })

        newCodes10.addEventListener("click", e => {
            let ajax = new XMLHttpRequest()
            ajax.open("POST", "/codes", true)
            ajax.send(JSON.stringify({amt:10}))
        })
    </script>
</body>
</html>